@media (max-width: 700px) {
	body, header {
		overflow: auto
	}

	.header {
		height: auto;
	}

	.header__logo {
		display: block;
		margin-top: 25px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		height: 30px;
	}

	.header__text {
		display: none;
	}

	.details__article {
		margin-left: 11px;
	}

	.details__title {
		margin-left: 1px;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 21px;
	}

	.details__description {
		margin-left: 2px;
		font-size: 10px;
		line-height: 13px;
		max-height: 65px;
		height: auto;
	}

	.details__price {
		font-size: 12px;
		line-height: 14px;
		margin-top: 20px;
	}
}

@media (max-width: 375px) {
	.banner {
		position: static;
		width: auto;
		height: 213px;
		background-position: -162px 0px;
		background-size: 552px 213px;
	}

	.banner__confetti {
		position: relative;
		width: 516px;
		height: 90.81px;
	}

	.banner__confetti--top {
		top: -46px;
		left: -52px;
	}

	.banner__confetti--bottom {
		top: -64px;
		transform: none;
		left: -52px;
	}

	.banner__content {
		position: relative;
		width: 144px;
		margin-left: 29px;
		top: -45.81px;
	}

	.banner__title {
		position: static;
		width: auto;
		font-size: 18px;
		line-height: 21px;
		height: auto;
		margin-left: 1px;
		margin-bottom: 12px;
	}

	.banner__subtitle {
		position: static;
		width: auto;
		height: auto;
		margin-left: 2px;
		margin-bottom: 18px;

		font-size: 14px;
		line-height: 16px;
	}

	.banner__button {
		position: static;
		height: 35px;
		width: 130px;

		font-size: 12px;
		line-height: 14px;
	}

	.persuation {
		padding-top: 44px;
		padding-bottom: 13px;
	}

	.persuation__text {
		display: inline-block;
		width: 269px;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1em;
	}

	.footer{
		padding-top: 31px;
		padding-bottom: 40px;
	}
}

@media (max-width: 600px) {
	.contact {
		text-align: center;
	}
	.contact__logo {
		margin-top: 145px;
		margin-left: auto;
		margin-right: auto;
	}
	.contact__email {
		float: none;
		margin-right: 0;
		margin-top: 5px;
	}
}

@media (max-width: 400px) {
	.icons {
		height: 176px;
		display: flex;
		flex-flow: column;
	}
	.icons--cards {
		order: 2;
		margin-top: 36px;
		margin-left: 0;
	}
	.icons--security {
		order: 1;
		margin-top: 32px;
		margin-right: 0;
	}
}

@media (max-width: 980px) {
	.details {
		width: 100%;
		background-color: #EFEFEF;
		margin-bottom: 30px;
	}

	.details__image {
		margin-top: 3px;
		height: 209px;
		width: 156px;
	}

	.details__article {
		margin-top: 39px;
		margin-left: 12px;
		margin-bottom: 0;
		width: calc(100% - 189px);
	}

	.details__size-label {
		margin-bottom: 21px;
	}

	.details__size-radio {
		margin-left: 10px;
		margin-right: 10px;
	}

	.details__buy-choice {
		margin-left: 0;
		padding-top: 31px;
		text-align: center;
		width: 100%;
		background-color: white;
	}

	.details__button {
		margin-top: 31px;
		margin-left: auto;
		margin-right: auto;

		height: 35px;
		width: 196px;

		font-size: 12px;
		line-height: 14px;
	}

	.gallery {
		max-height: 596px;
		margin-bottom: 21px;
	}

	.gallery__item {
		height: 281px;
		width: 170px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 17px;
	}

	.gallery__img {
		width: 152.84px;
		height: 209.98px;
	}

	.gallery__price {
		display: block;
		font-size: 12px;
		line-height: 14px;
		margin-top: 9.16px;
		margin-bottom: 9px;
	}

	.gallery__button {
		display: inline-block;
		width: 126px;
		height: 23px;

		font-size: 11px;
		line-height: 13px;
	}

	.gallery--small {
		max-height: 298px;
		margin-bottom: 102px;
		padding-top: 8px;
	}
}

@media (max-width: 800px) {
	.notification__modal {
		width: calc(100% - 50px);
		height: 421px;
		margin-left: 25px;
		margin-right: 25px;
	}

	.notification__image {
		width: 70.13px;
		margin-top: 51px;
	}

	.notification__title {
		width: 94px;
		margin-top: 9.87px;
		font-size: 18px;
		line-height: 21px;
	}

	.notification__text {
		margin-top: 22px;
		width: 153px;
		font-size: 14px;
		line-height: 16px;
	}

	.notification__buttons {
		width: 205px;
		margin-top: 37px;
	}

	.notification__button--continue {
		width: 100%;
		font-size: 14px;
		line-height: 16px;
		height: 34px;
	}

	.notification__button--cart {
		width: 100%;
		margin-top: 21px;
		margin-left: 0;
		font-size: 14px;
		line-height: 16px;
		height: 34px;
	}
}
