<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700,900" rel="stylesheet">
	</head>
	<body>
		<div class="notification">
			<div class="notification__modal">
				<img class="notification__image" src="../assets/images/confetti.svg"/>
				<h1 class="notification__title">vivaaaa!</h1>
				<p class="notification__text">Adicionamos o item no seu carrinho!</p>
				<div class="notification__buttons">
					<button class="button notification__button--continue">Continuar comprando</button><!--
			 --><button class="button notification__button--cart">Ir para o carrinho</button>
				</div>
			</div>
		</div>
		<header class="header">
			<img class="header__logo" src="../assets/images/logo.svg" />
			<p class="header__text">Venha ser felix no carnaval!</p>
		</header>
		<section class="banner">
			<img class="banner__confetti banner__confetti--top" src="../assets/images/confetti-banner.svg" />
			<h1 class="banner__title">
				ainda dá tempo de <b class="bold-text">ser felix</b>
			</h1>
			<h3 class="banner__subtitle">
				fantasias premiun por <b class="bold-text--orange">$100,00</b>
			</h3>
			<button class="button banner__button">Comprar agora</button>
			<img class="banner__confetti banner__confetti--bottom" src="../assets/images/confetti-banner.svg" />
		</section>
		<section class="details details--1">
			<img class="details__image" src="../assets/images/fantasia-01.png" /><!--
		 --><div class="details__article">
				<h2 class="details__title">Fantasia Amazonia</h2>
				<p class="details__description">Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
					<p class="details__price">
						De
						<strike>R$200</strike>
						por
						<b class="details__price--bold">R$ 100,00</b>
					</p>
				<label class="details__size-label">Escolha o tamanho</label>
				<button class="button details__size-radio">PP</button><!--
		 --><button class="button details__size-radio">P</button><!--
		 --><button class="button details__size-radio">M</button><!--
		 --><button class="button details__size-radio">G</button>
				<button class="button details__button">Adicionar ao carrinho</button>
			<div>
		</section>
		<section class="persuation">
			<p class="persuation__text">
				Se você compra eu te dou um
				<b class="persuation__text--bold">beijo</b>
				<span class="persuation__text--orange">(só se quixer)</span>
			<p>
		</section>
		<section>
			<ul class="gallerie"></ul>
		</section>
		<section class="contact">
			<h1 class="contact__logo"><b class="contact__logo--bold">Carna</b>Store</h1>
			<p class="contact__email">contato@carnastore.com</p>
		</section>
		<section class="icons">
			<img class="icons--cards" src="../assets/images/cards.svg">
			<img class="icons--security" src="../assets/images/security-icon.svg">
		</section>
		<footer class="footer">
			<p class="footer__text">Desenvolvido pela <b>Humanoide</b></p>
		</footer>
		<script src="../assets/js/index.js"></script>
		<script src="../assets/js/listeners.js"></script>
	</body>
</html>
