<html>
	<head>
		<title>CarnaStore</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
		<link rel="stylesheet" type="text/css" href="../assets/styles/mobile.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700,900" rel="stylesheet">
	</head>
	<body>
		<div class="notification">
			<div class="notification__modal">
				<img class="notification__image" src="../assets/images/confetti.svg"/>
				<h1 class="notification__title">vivaaaa!</h1>
				<p class="notification__text">Adicionamos o item no seu carrinho!</p>
				<div class="notification__buttons">
					<button class="button notification__button--continue">Continuar comprando</button><!--
			 --><button class="button notification__button--cart">Ir para o carrinho</button>
				</div>
			</div>
		</div>
		<header class="header">
			<img class="header__logo" src="../assets/images/logo.svg" />
			<p class="header__text">Venha ser felix no carnaval!</p>
		</header>
		<section class="banner">
			<img class="banner__confetti banner__confetti--top" src="../assets/images/confetti-banner.svg" />
			<div class="banner__content">
				<h1 class="banner__title">
					ainda dá tempo de <b class="bold-text">ser felix</b>
				</h1>
				<h3 class="banner__subtitle">
					fantasias premiun por <b class="bold-text--orange">$100,00</b>
				</h3>
				<button class="button banner__button">Comprar agora</button>
			</div>
			<img class="banner__confetti banner__confetti--bottom" src="../assets/images/confetti-banner.svg" />
		</section>
		<section class="persuation">
			<p class="persuation__text">
				Se você compra eu te dou um
				<b class="persuation__text--bold">beijo</b>
				<span class="persuation__text--orange">(só se quixer)</span>
			</p>
		</section>
		<section>
			<ul class="gallery"></ul>
		</section>
		<section class="contact">
			<h1 class="contact__logo"><b class="contact__logo--bold">Carna</b>Store</h1>
			<p class="contact__email">contato@carnastore.com</p>
		</section>
		<section class="icons">
			<img class="icons--cards" src="../assets/images/cards.svg">
			<img class="icons--security" src="../assets/images/security-icon.svg">
		</section>
		<footer class="footer">
			<p class="footer__text">Desenvolvido pela <b>Humanoide</b></p>
		</footer>
		<script src="../assets/js/index.js"></script>
		<script src="../assets/js/listeners.js"></script>
	</body>
</html>
